.container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Vertically center align the items */
}
.image {
  max-width: 100%;
  max-height: 100%;
}
.altPes {
  display: flex;
  justify-content: center;
  border-color: brown;
}
.text {
  flex: 1; /* Allow the text to grow and take up available space */
  padding: 20px; /* Add spacing around the text content */
}
.container h3 {
  margin-top: 5px;
  padding: 10px;
}
.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}
