.errores {
  color: red;
}
/* .imputes {
  display: flexbox;
  justify-content: center;
} */
.imputes input {
  background-color: rgb(185, 185, 205);
  text-decoration: double;
  display: table-column-group;
  justify-content: center;
  margin: 2%;
}
.info {
  margin: 5px;
}
