.todes {
  display: grid;
}
.section {
  margin-top: 15px;
}

.Slider {
  width: 1000px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 0%;
  margin-right: 5px;
  cursor: pointer;
}
.Slider:hover {
  background-color: #d42e2e;
  border-radius: 0%;
  margin-right: 5px;
  cursor: pointer;
}
.downSlider:hover {
  background-color: #f4c5c5;

  cursor: pointer;
}
.downSlider {
  width: 1000px;
  height: 10px;
  border-radius: 0%;
  margin-right: 5px;
  cursor: pointer;
}
.container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}
.diver {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  resize: both;
  width: 90%;
}
.label {
  margin-top: 50px;
  position: absolute;
  font-size: large;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.navBar {
  border: none;
  outline: auto;
  justify-self: center;
  justify-content: space-around;
  width: 350px;
  line-height: 5px;
  height: 80px;

  border-radius: 20px 20px 20px 20px;
}
.single-slider {
  display: flex;
  flex-direction: column;
}

.slider-min {
  position: relative;
  margin: 10px 0;
  z-index: 1;
}

.slider-max {
  position: relative;
  margin: -10px 0;
  z-index: 2;
}
